<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    {% load static %}
    <link href="{% static 'css/tailwind-built.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-gray-100 flex min-h-screen">
    <!-- Side navigation -->
    <div class="bg-white w-64 shadow-md p-6">
      <h1 class="text-2xl font-bold mb-4">Lingu</h1>
      <ul>
        <li class="mb-2">
          <a
            href="{% url 'chatbot_view' %}"
            class="nav-item {% if request.path == '/chatbot/' %}active{% endif %}"
          >
            <img src="{% static 'images/robot.png' %}" alt="Chatbot" />
            <!-- <span class="nav-text">Chatbot</span> -->
          </a>
        </li>
        <li>
          <a
            href="{% url 'money_manager' %}"
            class="nav-item {% if request.path == '/chatbot/money-manager/' %}active{% endif %}"
          >
            <img src="{% static 'images/money.png' %}" alt="Money" />
          </a>
        </li>
      </ul>
    </div>
    <!-- Main content -->
    <div class="flex-1">
      <div class="bg-white shadow-md rounded-lg p-8 w-full mx-auto">
        <h1 class="text-3xl font-bold mb-6 text-center text-green-600">
          Chat with our Bot
        </h1>
        <div
          id="chat-window"
          class="space-y-4 mb-6 p-4 bg-gray-100 rounded-lg max-h-600px overflow-y-auto"
        >
          {% for message in messages %} {% if message.type == 'user' %}
          <div class="flex justify-end">
            <div class="chat-bubble chat-bubble-user">{{ message.text }}</div>
          </div>
          {% else %}
          <div class="flex justify-start">
            <div class="chat-bubble chat-bubble-bot">{{ message.text }}</div>
          </div>
          {% endif %} {% endfor %}
        </div>
        <form method="post" class="space-y-4">
          {% csrf_token %}
          <textarea
            name="user_input"
            rows="4"
            class="w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            placeholder="Type your message here..."
            id="user-input"
          ></textarea>
          <button
            type="submit"
            class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-300"
          >
            Send
          </button>
        </form>
      </div>
    </div>
    <script>
      // Auto-scroll to the bottom
      const chatWindow = document.getElementById("chat-window");
      chatWindow.scrollTop = chatWindow.scrollHeight;

      // Observe changes and scroll to the bottom when new messages are added
      const observer = new MutationObserver(() => {
        chatWindow.scrollTop = chatWindow.scrollHeight;
      });
      observer.observe(chatWindow, { childList: true });

      // Submit form on Enter key press
      const chatForm = document.querySelector("form");
      const userInput = document.getElementById("user-input");

      userInput.addEventListener("keydown", function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
          event.preventDefault();
          chatForm.submit();
        }
      });
    </script>
  </body>
</html>
